[project]
name = "leetcode-py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
  {include-group = "tests"},
]
tests = [
    "pytest>=9.0.2",
]

[tool.pytest.ini_options]
pythonpath = ["."]
